<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=name%></title>
    <meta
      name='description'
      content=<%=name%>
    />
    <link rel='shortcut icon' href='http://localhost:8001/image/icon/logo.png' />
    <meta name='keywords' content='<%=name%>' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content='<%=name%>' />
    <meta property="og:image" content='http://localhost:8001<%=og_image%>' />
    <meta property="og:description" content='<%=name%>' />
</head>
<script>
    console.log(window.location.search)
    let search = decodeURI(window.location.search);
    window.location.href = `_shop${search}`;    
</script>
<body>
    <h1>is shop !</h1>
</body>
</html>